.performance .discription .btns, .wrapper-content, .selector__wrapper, .hero .wrapper-btns, .header .wrapper-user .user-space, .header .wrapper-header__links .wrapper-links, .header .wrapper-header__links, .header .wrapper-header {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

div,
form,
a,
p,
ul,
li,
span,
button,
input {
  box-sizing: border-box;
}

html {
  font-size: 0.694vw;
  font-family: "Roboto", sans-serif;
}

body {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3.2rem;
  line-height: 180%;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 400;
}

img {
  width: 100%;
}

.container {
  width: 124rem;
  margin: 0 auto;
}

.header {
  padding: 1.5rem 2.7rem;
}
.header .container {
  width: auto;
}
.header .wrapper-header {
  align-items: center;
}
.header .wrapper-header__links .wrapper-links {
  align-items: center;
  width: 10.4rem;
}
.header .wrapper-header__links .wrapper-links.right {
  width: 18.4rem;
}
.header .wrapper-header__logo {
  margin-left: 22rem;
}
.header .wrapper-header__logo img {
  width: 12rem;
}
.header .wrapper-user {
  margin-left: 3rem;
}
.header .wrapper-user .user-space {
  align-items: center;
  width: 11.8rem;
}
.header .wrapper-user .profile a img {
  width: 2.5rem;
}
.header .links a p {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.hero {
  background: url(../img/hero--background.svg) no-repeat;
  background-size: contain;
  min-height: 74rem;
}
.hero .wrapper-hero {
  text-align: center;
  color: #ffffff;
  padding-top: 26.1rem;
}
.hero__title h1 {
  font-size: 4.8rem;
}
.hero .wrapper-btns {
  margin: auto;
  width: 38.4rem;
  padding-top: 20.7rem;
}
.hero__btn a p {
  background-color: #ffffff;
  padding: 1.7rem 4.5rem;
}
.hero__btn.women a p {
  padding: 1.7rem 3.2rem;
}

.title h2 {
  text-align: center;
  padding-top: 12rem;
}

.selector {
  margin-top: 6.2rem;
  border-bottom: 0.2rem solid #d3d4d5;
  position: relative;
}
.selector__wrapper {
  width: 54rem;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: -4rem;
}
.selector__wrapper .select a p {
  text-transform: uppercase;
  line-height: 250%;
  letter-spacing: 0.2rem;
  width: 12.3rem;
  text-align: center;
  cursor: pointer;
}
.selector__wrapper .select.active {
  border-bottom: 0.2rem solid #000000;
}

.nowrap {
  white-space: nowrap;
  overflow-x: hidden;
  display: flex;
}

.wrapper-content {
  margin-top: 1.4rem;
  column-gap: 2rem;
  position: relative;
}

.item {
  min-height: 51.3rem;
  width: 40.6rem;
}
.item__background-img {
  background: url(../img/favorites--img1.svg) no-repeat;
}
.item__background-img.second {
  background: url(../img/favorites--img2.svg) no-repeat;
  min-height: 39.8rem;
}
.item__background-img.empty {
  background: url(../img/favorites--img3.svg) no-repeat;
}
.item__background-img, .item__background-img.second, .item__background-img.empty {
  background-size: cover;
}
.item__wrapper-discr {
  margin: 1rem 3rem;
}
.item__wrapper-discr .title {
  border-bottom: 0.2rem solid #d3d4d5;
}
.item__wrapper-discr .subtitle {
  background: url(../img/favorites--subtitle-img1.png) no-repeat left;
  margin-top: 0.8rem;
}
.item__wrapper-discr .subtitle p {
  margin-left: 4rem;
  font-size: 1.4rem;
  line-height: 200%;
}
.item__wrapper-discr .subtitle.another {
  background: url(../img/favorites--subtitle-img2.png) no-repeat left;
}
.item__wrapper-discr .subtitle,
.item__wrapper-discr .subtitle.another {
  background-size: contain;
}

.title h3 {
  font-size: 2.2rem;
}

.btns {
  padding: 14.4rem 5rem;
}
.btns .btn {
  padding: 1.7rem 9rem;
  background-color: #ffffff;
  cursor: pointer;
}
.btns .btn p {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.btns .btn:last-child {
  margin-top: 1.2rem;
}

.performance .wrapper-performance {
  margin-top: 12rem;
}
.performance .wrapper-background {
  background: url(../img/performance--img1.svg);
  min-height: 54.2rem;
}
.performance .wrapper-background.second {
  background: url(../img/performance--img2.svg);
}
.performance .wrapper-background.empty {
  background: url(../img/performance--img3.svg);
}
.performance .wrapper-background,
.performance .wrapper-background.second,
.performance .wrapper-background.empty {
  background-size: cover;
}
.performance .discription {
  width: 38.4rem;
  margin: 5rem auto 12rem;
  text-align: center;
}
.performance .discription__subtitle {
  margin-top: 1rem;
}
.performance .discription .btns {
  padding: 3rem 0 0 0;
}
.performance .discription .btns .btn {
  padding: 1.7rem 4rem;
  border-radius: 0.2rem;
  background-color: #212a2f;
}
.performance .discription .btns .btn p {
  color: #ffffff;
}
.performance .discription .btns .btn:last-child {
  margin-top: 0;
}
.performance .discription.different {
  width: 65.5rem;
}
.performance .discription.different .btns.different {
  width: 38.4rem;
  margin: auto;
  display: block;
}
.performance .discription.different:last-child {
  width: 62.4rem;
}

.performance > .container {
  width: 100%;
}

.shop-carousel > .container {
  width: 133rem;
  margin-left: 9rem;
  overflow-x: hidden;
}

.carousel .owl-item {
  width: 39.4rem !important;
  margin-right: 2.4rem;
}
.carousel .owl-item .wrapper-content {
  display: flex;
  flex-direction: column;
  width: 39.4rem;
}
.carousel__subtitle p {
  margin-top: 0.8rem;
}
.carousel .wrapper-discrip {
  padding: 1.7rem 1.9rem;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 4.8rem !important;
  opacity: 0;
  transition: ease-in-out 0.2s;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none !important;
  opacity: 1;
}

.owl-theme .owl-nav {
  width: 130rem;
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
}

.stories .item__subtitle {
  width: 35.5rem;
}
.stories__wrap {
  margin: 1rem 2rem;
}

/*# sourceMappingURL=main.css.map */
