@import "./_variables.scss";
@import "./_normalize.scss";

.container {
    width: 124rem;
    margin: 0 auto;
}

// header

.header {
    padding: 1.5rem 2.7rem;
    .container {
        width: auto;
    }
    .wrapper-header {
        @extend %wrapper;
        align-items: center;
        &__links {
            @extend %wrapper;
            .wrapper-links {
                @extend %wrapper;
                align-items: center;
                width: 10.4rem;
            }
            .wrapper-links.right {
                width: 18.4rem;
            }
        }
        &__logo {
            margin-left: 22rem;
            img {
                width: 12rem;
            }
        }
    }
    .wrapper-user {
        margin-left: 3rem;
        .user-space {
            @extend %wrapper;
            align-items: center;
            width: 11.8rem;
        }
        .profile {
            a img {
                width: 2.5rem;
            }
        }
    }
    .links {
        a p {
            text-transform: uppercase;
            font-size: calc($font-p - 0.4rem);
        }
    }
}

// hero

.hero {
    background: url(../img/hero--background.svg) no-repeat;
    background-size: contain;
    min-height: 74rem;
    .wrapper-hero {
        text-align: center;
        color: #ffffff;
        padding-top: 26.1rem;
    }
    &__title h1 {
        font-size: calc($font-h + 1.6rem);
    }
    .wrapper-btns {
        @extend %wrapper;
        margin: auto;
        width: 38.4rem;
        padding-top: 20.7rem;
    }
    &__btn {
        a p {
            background-color: #ffffff;
            padding: 1.7rem 4.5rem;
        }
    }
    &__btn.women {
        a p {
            padding: 1.7rem 3.2rem;
        }
    }
}

// favorites

.title h2 {
    text-align: center;
    padding-top: 12rem;
}

.selector {
    margin-top: 6.2rem;
    border-bottom: 0.2rem solid #d3d4d5;
    position: relative;
    &__wrapper {
        width: 54rem;
        @extend %wrapper;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        top: -4rem;
        .select a p {
            text-transform: uppercase;
            line-height: 2.5em;
            letter-spacing: 0.2rem;
            width: 12.3rem;
            text-align: center;
            cursor: pointer;
        }
        .select.active {
            border-bottom: 0.2rem solid #000000;
        }
    }
}

.nowrap {
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
}

.wrapper-content {
    @extend %wrapper;
    margin-top: 3.4rem;
    column-gap: 2rem;
    position: relative;
}
.wrapper-content.indent {
    margin-right: 2rem;
    margin-left: 2rem;
}

.item {
    min-height: 51.3rem;
    width: 39.6rem;
    &__background-img {
        background: url(../img/favorites--img1.svg) no-repeat;
    }
    &__background-img.second {
        background: url(../img/favorites--img2.svg) no-repeat;
        min-height: 39.8rem;
    }
    &__background-img.empty {
        background: url(../img/favorites--img3.svg) no-repeat;
    }
    &__background-img,
    &__background-img.second,
    &__background-img.empty {
        background-size: cover;
    }
    &__wrapper-discr {
        margin: 1rem 3rem;
        .title {
            border-bottom: 0.2rem solid #d3d4d5;
            h3 {
                font-size: calc($font-h - 1rem);
            }
        }
        .subtitle {
            background: url(../img/favorites--subtitle-img1.png) no-repeat left;
            margin-top: 0.8rem;
            p {
                margin-left: 4rem;
                font-size: calc($font-p - 0.2rem);
                line-height: 2em;
            }
        }
        .subtitle.another {
            background: url(../img/favorites--subtitle-img2.png) no-repeat left;
        }
        .subtitle,
        .subtitle.another {
            background-size: contain;
        }
    }
}
.btns {
    padding: 14.4rem 5rem;
    .btn {
        padding: 1.7rem 9rem;
        background-color: #ffffff;
        cursor: pointer;
        p {
            text-align: center;
            font-size: calc($font-p - 0.2rem);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        &:last-child {
            margin-top: 1.2rem;
        }
    }
}

// perfomanse

.performance {
    .container {
        width: 100%;
    }
    .wrapper-performance {
        margin-top: 12rem;
    }
    .wrapper-background {
        background: url(../img/performance--img1.svg) left center;
        background-size: cover;
        min-height: 54.2rem;
    }
    .discription {
        width: 38.4rem;
        margin: 5rem auto 12rem;
        text-align: center;
        &__subtitle {
            margin-top: 1rem;
        }
        .btns {
            padding: 3rem 0 0 0;
            @extend %wrapper;
            .btn {
                padding: 1.7rem 4rem;
                border-radius: 0.2rem;
                background-color: $color;
                p {
                    color: #ffffff;
                }
                &:last-child {
                    margin-top: 0;
                }
            }
        }
    }
}
